<config>
	<system>
		<Telegramtoken>xxxxxx</Telegramtoken >
		<Telegramchatid>yyyyyy</Telegramchatid>
		<port1>zzzzz</port1>
        <port2>zzzzzz</port2>
        <RDPport>4389</RDPport>
        <SafeIPs>1111111</SafeIPs>
	</system>
	<tasks>
		<task name="Hiber" script="C:\....cmd"></task>
	</tasks>
</config> 